#top h1{
  font-family:"Helvetica";
  font-size: 5vw;
  color: #EA4859;
}



h2{
  font-family:"Helvetica";
  font-size: 35px;
  color: #91B7CA;
}

body{
  background-color:#31475E;
  font-family: "Tahoma";
  font-size: 19px;
  color: white;
}

a:link {
  color: #EA4859;
}
