/* Stylesheet for creating the hamburger nav menu */
/* Author: Larry Ditton */
/* Guidance in creating the menu from Travery Media Youtube Tutorial
Link: https://www.youtube.com/watch?v=DZg6UfS5zYg */
/* Note: I learned that the >, +, and ~ syntax, while good to know, are maybe not
the best way to select things. However, in being able to follow the tutorial
it was better to go with it. That said, I made sure to learn what everything meant
and made my own adjustments as necessary. */


.menu{
  position:fixed;
  top: 0;
  left: 0;
  z-index: 1;
}


.toggle{
  position: absolute;
  top: 0;
  left: 1rem;
  z-index: 2;
  width: 60px;
  height: 60px;
  opacity: 0;
  cursor: pointer;
  padding: 500px;
}

.hamburger{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.hamburger > div{
  position: relative;
  width: 100%;
  height: 2px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Create hamburger line elements  */
.hamburger > div:before,
.hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: white;
}

.hamburger > div:after {
  top: 10px;
}

 .toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* turn hamburger lines into x when menu is shown*/
 .toggle:checked + .hamburger > div:before,
 .toggle:checked + .hamburger > div:after{
  top: 0;
  transform: rotate(90deg);
}

/* show menu */
.toggle:checked ~ .menu-items{
  visibility: visible;
}

 .toggle:checked ~ .menu-items > div {
  transform: scale(1);
  transition-duration: 0.4s;
}

 .toggle:checked ~ .menu-items > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-items{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-items > div {
  background-color: rgba(75,75,75,.8);
  /* opacity: 100%; */
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-items >div > div{
  text-align: center;
  max-width: 90vw;
  max-height: 100vw;
  opacity: 0;
  transition: opacity 0.4s ease;
}

li{
  list-style: none;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-items > div > div >ul >li > a{
  color: rgb(220,220,220);
  text-decoration: none;
  transition: color 0.4s ease;
}

.underline:hover{
  text-decoration: underline;
}

.menu .menu-items > div > div >ul >li > a:hover{
  color: white;
}

@media screen and (max-width:1024px){
  .hamburger{
    width: 30px;
    height: 30px;
  }
}
