/* Overall CSS styling for Still Problems Band Website */
/* Author: Larry Ditton */


body{
  background-color: black;
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

h1{
  font-family: 'Yuji Boku', serif;
  font-size: 72px;
  text-align: center;
  margin: 0;
}

h2{
  font-family: 'Yuji Boku', serif;
  font-size: 36px;
  margin-top: 4vh;
  margin-bottom: 8vh;
}

button{
  background-color: black;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  border: 3px solid white;
  font-size: 25px;
  width: 15vw;
  cursor: pointer;
}

button:hover{
  color: rgb(128,128,128);
  border: 3px solid rgb(128,128,128);
}

p{
  font-family: 'Noto Sans', sans-serif;
  color: white;
  font-size: 1.5vw;
}

#goHome{
  text-decoration: none;
  color: white;
}

.navlink{
  color: grey;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}

.top-nav{
  display: flex;
  justify-content: center;
}

.toplink {
  display: flex;
  width: 8vw;
  align-items: center;
  justify-content: center;
}

.heroImg{
  margin-top: 10px;
  display: flex;
  width: 100vw;
  height: 30vh;
}

#bandTop{
  display: block;
  width: 100vw;
  object-fit: cover;
  object-position: 50% 72%;
}


.newsButton{
  margin-top: 3vh;
  width: 10vw;
}

.buy{
  margin-top: 3vh;
  width: 10vw;
}

.shirtBuy{
  margin-top: 3vh;
  width: 10vw;
}

.updateTxt{
  text-align: center;
}

.releaseBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buyButton {
  background-color: black;
  color: white;
  margin-top: 30px;
}

.followParent{
  display: flex;
  justify-content: center;
}

.followDiv{
  display: flex;
  width: 8vw;
  align-items: center;
  justify-content: center;
}

.followDiv:hover{
  opacity: 50%;
}

.icon{
  display: block;
  width: 3.5vw;
}


/* tour.html specific: */
#tourHead{
  font-family: 'Yuji Boku', serif;
  font-size: 36px;
  margin-top: 8vh;
  margin-bottom: 8vh;
  text-align: center;
}

#tourPicture{
  display: block;
  width: 100vw;
  object-fit: cover;
  object-position: 50% 57%;
}

#tourNavSel{
  color: white;
}

.tourParent{
  display: flex;
  flex-direction: row;
}

.tourColumn{
  flex-grow: 1;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}

#ticketLink{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tourList{
  padding: 16.5px;
}

.listContainer{
  margin-top:6.5px;
}

.tourColumn{
  margin-top: 6.5px;
}

.tixButtons{
  margin-bottom: 18px;
}

a:hover{
  color: white;
}


/* merch.html specific: */
#merchPicture{
  display: block;
  width: 100vw;
  object-fit: cover;
  object-position: 50% 35%;
}

.cart{
  position: fixed;
  top:0;
  right:0;
  z-index:1;
  cursor: pointer;
}

#cartIcon{
  width: 60px;
  padding-top: 15px;
  padding-right: 20px;
}

#numItems{
  position: fixed;
  top: 14px;
  right: 33px;
}

#merchHead{
  margin-top: 5vh;
  margin-bottom: 0vh;
  text-align: center;
}

.merchCat{
  margin-top: 1vh;
  margin-bottom: 4vh;
}

#merchNav{
  color: white;
}

@media screen and (max-width:1208px){
  button{
    font-size: 1.8vh;
  }

  .tixButtons{
    font-size: 1.8vw;
  }

  p{
    font-size: 2vw;
  }

  .newsButton{
    width: 15vw;
  }

  .buy{
    width: 15vw;
  }
}

@media screen and (min-width:872px){
  .infoFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .update{
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: center;
    /* justify-content: center; */
  }

  .infoPics{
    display: block;
    object-fit: cover;
    width: 20vw;
    height: 20vw;
  }

  #latest{
    display: block;
    object-fit: cover;
    width: 20vw;
    height: 20vw;
  }
}

@media screen and (max-width:872px){
  .infoFlex{
    text-align: center;
  }

  p{
    font-size: 4vw;
  }

  .update{
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .infoPics{
    display: block;
    object-fit: cover;
    width: 70vw;
    height: 70vw;
  }

  #latest{
    display: block;
    object-fit: cover;
    width: 40vw;
    height: 40vw;
  }

  .newsButton{
    width: 25vw;
    padding: 2vw;
  }

  .buy{
    width: 25vw;
    padding: 2vw;
  }

  .shirtBuy{
    width: 25vw;
    padding: 2vw;
  }

  .toplink {

    width: 10vw;
  }

  .followDiv{
    width: 15vw;
  }

  .icon{
    width: 8vw;
  }

}

@media screen and (max-width:620px){
  .toplink {
    width: 20vw;
  }

  .tixButtons{
    font-size: 3vw;
    width: 25vw;
  }
}

@media screen and (max-width:1226px){
  .listContainer{
    margin-top:5.5px;
  }

  .tixButtons{
    font-size: 1em;
    margin-bottom: 25px;
  }
}

@media screen and (min-width:900px){
  .tourColumn{
    text-align: center;
  }
}

@media screen and (max-width:493px){
  .tixButtons{
    font-size: 3vw;
  }

  .listContainer{
    font-size: 3vw;
    margin-top: 3.5px;
  }
}

.listContainer{
  padding-left: 0;
}

@media screen and (max-width:823px){
  .tixButtons{
    width: 25vw;
  }
}

@media screen and (max-width:340px){
  .tixButtons{
    margin-bottom: 21.5px;
  }
}

@media screen and (max-width:1024px){
  #cartIcon{
    padding-top: 10px;
    width: 42px;
    /* right: 10px; */
  }

  #numItems{
    font-size: 15px;
    top: 6px;
    right: 28px;
  }

@media screen and (max-width:493px){
  h1{
    font-size: 60px;
  }
}

}
