@media screen and (min-width:750px){
  #container{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35vh 20vh 35vh;
  }
  #top h1{
    font-size: 5vw;
  }
}

@media screen and (max-width:750px){
 #contactimg{
   display:none;
 }
 #top h1{
   font-size: 4vw;
 }
}


#top h1{
  font-family:"Helvetica";
  font-size: 5vw;
  color: #EA4859;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

img{
  width: 170%;
  object-fit: cover;
  max-height: 100%;
  position: relative;
  bottom: 200px;

}

/* #container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30vh 30vh 30vh;
} */

#img-child{
  background-color: yellow;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

#about-child{
  background-color: red;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}


#goals-child{
  background-color: blue;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#works-child{
  background-color: black;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

h2{
  font-family:"Helvetica";
  font-size: 3vw;
  color: #91B7CA;
  margin-top:10px;
  margin-bottom: 10px;
}

p{
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

body{
  background-color:#38516b;
  font-family: 'Lato', sans-serif;
  font-size: 3vh;
  color: white;
  text-align:center;
}


hr{
  border: 2px solid #00FFC5;
  border-radius: 1px;
  margin-left: 25vw;
  margin-right: 25vw;
}

a:link {
  color: #00FFC5;
}

a:hover{
  color: #EA4859;
}

a:visited{
  color: #FCD3DE;
}
