@media screen and (min-width:750px){
  #container{
    display:grid;
    grid-template-columns: 50% 50%;
  }

  body{
    font-size: 1.7vw;
  }

  #top h1{
    font-size: 5vw;
  }

  h2{
    font-size: 3vw;
  }

  #img-child{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-left: 25px;
    position: relative;
    overflow: hidden;
  }

  img{
    position: absolute;
    display: block;
    transform: translate(-10%);
    bottom: 0px;
    width: 130%;
    height: auto;
  }
}


@media screen and (max-width:750px){
  #top h1{
     font-size: 10vw;
   }

   h2{
     font-size: 8vw;
   }

   img{
     width: 100%;
     height: auto;
     object-fit: cover;
   }
}


#top h1{
  font-family:"Helvetica";
  color: #EA4859;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

#about-child{
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#goals-child{
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#works-child{
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

h2{
  font-family:"Helvetica";
  color: #91B7CA;
  margin-top:10px;
  margin-bottom: 10px;
}

p{
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

body{
  background-color:#38516b;
  font-family: 'Lato', sans-serif;
  color: white;
  text-align:center;
}


hr{
  border: 2px solid #00FFC5;
  border-radius: 1px;
  margin-left: 25vw;
  margin-right: 25vw;
}

a:link {
  color: #00FFC5;
}

a:hover{
  color: #EA4859;
}

a:visited{
  color: #FCD3DE;
}
